@{
    Layout = "_Layout";
}

@model PokemonDb.Models.PokeType;

<h1>Add a new Pokemon Type</h1>
<hr />
@using (Html.BeginForm())
{
    <h3>Pokemon Type Name: @Html.TextBoxFor(model => model.PokeTypeName) <input type="submit" value="Add new pokemon type"
        class="btn btn-primary" /></h3>

    @* <input type="submit" value="Add a new pokemon type" class="btn btn-primary" /> *@
}

<hr />
<h4>@Html.ActionLink("Show all pokemon types", "Index")</h4>
<h4>@Html.ActionLink("Home", "Index", "Home")</h4>