@{
    Layout = "_Layout";
}

@model PokemonDb.Models.PokeType;

<h1>Are you sure you want to remove this type?</h1>

<p>Pokemon Type: @Html.DisplayFor(model => model.PokeTypeName)</p>
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
<h4>@Html.ActionLink("Back to Pokemon Type List", "Index")</h4>
<h4>@Html.ActionLink("Home", "Index", "Home")</h4>