@{
    Layout = "_Layout";
}

<h1>Welcome to your PokeDex!!</h1>
<hr />
<h3>Gotta Create 'Em All!</h3>


<h4>@Html.ActionLink("See Pokemon Types", "Index", "PokeTypes")</h4>
<h4>@Html.ActionLink("See All Pokemon", "Index", "Pokemons")</h4>