@{
    Layout = "_Layout";
}

<h1>Welcome to your PokeDex!!</h1>
<h3>Gotta Create 'Em All!</h3>

<h4>@Html.ActionLink("See pokemon types", "Index", "PokeTypes")</h4>
<h4>@Html.ActionLink("See all pokemon", "Index", "Pokemons")</h4>